* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    color: #fff;
    background: rgb(54, 77, 204);
    background: linear-gradient(175deg, rgba(54, 77, 204, 1) 0%, rgba(19, 35, 124, 1) 100%);
    font-family: 'Raleway', sans-serif;
}

.avatar {
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}
h2 {
    font-size: 16px;

}
.profile {
    margin-top: 20px;;
    text-align: center;
}
.social {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;

}
.social img {
    width: 33px;    
}
.links-list .second li a {
    box-shadow: none;


}
.links-list {

    list-style: none;
}

.links-list li a {
    display: block;
    background-color: white;
    padding: 15px 20px;
    margin: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(54, 77, 204);
    font-weight: bold;


}
.links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .links-list li a.active {
    box-shadow: 0 0 20px white;
    color: rgb(54,77,204);
  }
  
  .links-list .second {
    margin-top: 30px;
  }
